@font-face {
  font-family: "Topaz-8";
  src: local("Topaz-8"), url("./fonts/Topaz_a500_v1.0.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Topaz-8", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222; /* Dark background */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
